*{
    font: helvetica;
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/im1.jpeg')
}

#uno{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

#dos {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#tres {
    font-size: 32px;
        font-weight: bold;
        color: white;
        background-color: skyblue;
}

h4{
    font-weight: bold;
    font-size: 26px;
}

a{
    color:blue;
}