* {
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: navy;
}

h1 {
    color: SeaGreen;
}


p,
li {
    font-size: 18px;
}


a {
    text-decoration: none;
}