body{
    background-color:black;
    font-family: 'DotGothic16', sans-serif;
}

section{
    
    background-color: black;
    
}

.logo {
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size:40px;
    color: #de7d00;
    background-color: black;

    
}

.navBar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 30px;
    height:100%;
    width: 48%;
    color: #de7d00;
    align-items: center;
}


.intro {
    display: flex;
    height: 100vh;
    background-image: url('./images/ssspacex.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    
}


.introArea {
    display: flex; 
    height: 100%;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

h1 {
    font-size: 50px;
    color: #0b441f;
}



.intro p{
    font-size: 30px;
    color:white;
}



.button{
    margin-top: 0px;
    width:150px;
    height:50px;
    background-color:#de7d00;
    border-radius:25px;
    text-align: center;
    font-size: 29px;
    color:black;
    border: #de7d00 4px solid;
}

.button:hover{
    background-color: #7851a9;
    color: black;
    border:#de7d00 4px solid;
}

h2 {
    font-size: 40px;
    color: #de7d00;
    text-decoration: underline overline solid #7851a9 7px;
}

.sub-section{
    display:flex;
    justify-content: space-around;
    color: whitesmoke;
    padding: 40px;
    
}

.sub-section p{
    font-size: 140%;
}

.section-proj{
    
}

.information{
    padding: 40px;
}

.pic-container{
    align-items: center;
    text-align: center;
}

.my-pic{
    width: 450px;
    border-radius: 285px;
    margin-bottom: 15px;
}



.project-card{
    width: 200px;
    height: 500px;
    border: 1px solid whitesmoke;
}

.project-container {
    display: flex;
    justify-content: space-around;
}


.gif{
    padding: 10px;

}



footer {
    display: flex;
    background-color: darkcyan;
}