body{
    background-color:black;
    font-family: 'DotGothic16', sans-serif;
}

section{
    height: 500px;
    background-color: black;
    
}


nav{
    display: flex;
    justify-content: space-between;
    font-size:40px;
    color: #1DB954;
    background-color: black;

    
}

.navBar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 30px;
    height:100%;
    width: 48%;
    color: #1DB954;
    align-items: center;
}


.intro {
    display: flex;
    height: 100vh;
    background-image: url('./images/nasa.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    
}

.socials{
    margin:30px;
}

.introArea {
    display: flex; 
    height: 100%;
    width:100%;
    margin-top: 3.9%;
    margin-left: 3.5%;
    justify-content: space-between;
    align-items: center;
}

.socials{
    padding-bottom: 100px;
}

.github {
    height: 105px;
    position: relative;
    top: 0px;
    left: 104px
    
}

.twitter {
    height: 65px;
    position: relative;
    top: 60px;
    left: 10px
}

.logo{
    height: 120px;
}

.intro p{
    font-size: 30px;
    color:white;
}

h1{
    font-size:50px;
    color:#1DB954;
}

.button{
    margin-top: 0px;
    width:150px;
    height:50px;
    background-color:goldenrod;
    border-radius:25px;
    text-align: center;
    font-size: 29px;
    color:black;
}

.button:hover{
    background-color: fuchsia;
    color: black;
}


.sub-section{
    display:flex;
    justify-content: space-around;
    color: whitesmoke;
    
}

.information{
    padding: 80px;
}

h2{
    font-size: 40px;
    color: fuchsia;
}

footer {
    height: 500px;
    background-color: darkcyan;
}